   {% extends "blog_base.html" %}

   {% block content %}

  <form method="post" action="/blog/newpost">

    <div class="blog">

      <label>
        <div class="subject">subject</div>
        <input type="hidden" name="blogid" value="{{blogid}}">
      </label>

      <input type="text" class="subjectinput" name="subject" value="{{subject}}">

      <label>
        <div class="content">content</div>
      </label>

      <textarea name="content" style="width:500px;height:300px">{{content}}</textarea>
      <br>

      <div class="error">{{error}}</div>

      <br>
      <input type="submit">
      <br><br><a class="button" href="/blog/{{blogid}}">Cancel</a>
    </div>

</form>


{% endblock %}